05-cxf/MoTClient/src/org/example/client/registration.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://example.org/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://example.org/" name="MoTImplService">
<types>
<xsd:schema>
<xsd:import namespace="http://example.org/" schemaLocation="http://127.0.0.1:8000/registration?xsd=1"></xsd:import>
</xsd:schema>
</types>
<message name="registerVehicle">
<part name="parameters" element="tns:registerVehicle"></part>
</message>
<message name="registerVehicleResponse">
<part name="parameters" element="tns:registerVehicleResponse"></part>
</message>
<message name="BadRequest">
<part name="fault" element="tns:BadRequest"></part>
</message>
<message name="updateVehicle">
<part name="parameters" element="tns:updateVehicle"></part>
</message>
<message name="updateVehicleResponse">
<part name="parameters" element="tns:updateVehicleResponse"></part>
</message>
<portType name="MoT">
<operation name="registerVehicle">
<input wsam:Action="http://example.org/MoT/registerVehicleRequest" message="tns:registerVehicle"></input>
<output wsam:Action="http://example.org/MoT/registerVehicleResponse" message="tns:registerVehicleResponse"></output>
<fault message="tns:BadRequest" name="BadRequest" wsam:Action="http://example.org/MoT/registerVehicle/Fault/BadRequest"></fault>
</operation>
<operation name="updateVehicle">
<input wsam:Action="http://example.org/MoT/updateVehicleRequest" message="tns:updateVehicle"></input>
<output wsam:Action="http://example.org/MoT/updateVehicleResponse" message="tns:updateVehicleResponse"></output>
<fault message="tns:BadRequest" name="BadRequest" wsam:Action="http://example.org/MoT/updateVehicle/Fault/BadRequest"></fault>
</operation>
</portType>
<binding name="MoTImplPortBinding" type="tns:MoT">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap:binding>
<operation name="registerVehicle">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="BadRequest">
<soap:fault name="BadRequest" use="literal"></soap:fault>
</fault>
</operation>
<operation name="updateVehicle">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="BadRequest">
<soap:fault name="BadRequest" use="literal"></soap:fault>
</fault>
</operation>
</binding>
<service name="MoTImplService">
<port name="MoTImplPort" binding="tns:MoTImplPortBinding">
<soap:address location="http://127.0.0.1:8000/registration"></soap:address>
</port>
</service>
</definitions>