05-cxf/MoTService/src/main/webapp/wsdl/MoT.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="MoT" targetNamespace="http://example.org" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:ns1="http://example.org">
  <wsdl:types>
<xs:schema xmlns:tns="http://example.org" xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://example.org" version="1.0">
  <xs:element name="registerVehicle" type="tns:registerVehicle"/>
  <xs:element name="registerVehicleResponse" type="tns:registerVehicleResponse"/>
  <xs:element name="registrationRequest" type="tns:registrationRequest"/>
  <xs:element name="updateVehicle" type="tns:updateVehicle"/>
  <xs:element name="updateVehicleResponse" type="tns:updateVehicleResponse"/>
  <xs:complexType name="updateVehicle">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="tns:registrationRequest"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="registrationRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="VIN" type="xs:string"/>
      <xs:element minOccurs="0" name="color" type="xs:string"/>
      <xs:element name="engineDisplacement" type="xs:int"/>
      <xs:element name="fuelCode" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="updateVehicleResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="registerVehicle">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="tns:registrationRequest"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="registerVehicleResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BadRequest" type="tns:BadRequest"/>
  <xs:complexType name="BadRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="message" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="BadRequest">
    <wsdl:part name="BadRequest" element="ns1:BadRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="registerVehicleResponse">
    <wsdl:part name="parameters" element="ns1:registerVehicleResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="registerVehicle">
    <wsdl:part name="parameters" element="ns1:registerVehicle">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="updateVehicle">
    <wsdl:part name="parameters" element="ns1:updateVehicle">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="updateVehicleResponse">
    <wsdl:part name="parameters" element="ns1:updateVehicleResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="MoT">
    <wsdl:operation name="updateVehicle">
      <wsdl:input name="updateVehicle" message="ns1:updateVehicle">
    </wsdl:input>
      <wsdl:output name="updateVehicleResponse" message="ns1:updateVehicleResponse">
    </wsdl:output>
      <wsdl:fault name="BadRequest" message="ns1:BadRequest">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="registerVehicle">
      <wsdl:input name="registerVehicle" message="ns1:registerVehicle">
    </wsdl:input>
      <wsdl:output name="registerVehicleResponse" message="ns1:registerVehicleResponse">
    </wsdl:output>
      <wsdl:fault name="BadRequest" message="ns1:BadRequest">
    </wsdl:fault>
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>
