03-wsdl/registration.wsdl

<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://example.org/" targetNamespace="http://example.org/">
    <types>
        <xs:schema version="1.0" targetNamespace="http://example.org/">
            <xs:element name="BadRequest" type="tns:BadRequest" />
            <xs:element name="registerVehicle" type="tns:registerVehicle" />
            <xs:element name="registerVehicleResponse" type="tns:registerVehicleResponse" />
            <xs:element name="registrationRequest" type="tns:registrationRequest" />
            <xs:element name="updateVehicle" type="tns:updateVehicle" />
            <xs:element name="updateVehicleResponse" type="tns:updateVehicleResponse" />
            <xs:complexType name="registrationRequest">
                <xs:sequence>
                    <xs:element name="VIN" type="xs:string" />
                    <xs:element name="color" type="xs:string" />
                    <xs:element name="engineDisplacement" type="xs:int" />
                    <xs:element name="fuelCode" type="xs:int" />
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="registerVehicle">
                <xs:sequence>
                    <xs:element name="arg0" type="tns:registrationRequest" />
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="registerVehicleResponse">
                <xs:sequence>
                    <xs:element name="return" type="xs:boolean" />
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="updateVehicle">
                <xs:sequence>
                    <xs:element name="arg0" type="tns:registrationRequest" />
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="updateVehicleResponse">
                <xs:sequence>
                    <xs:element name="return" type="xs:boolean" />
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="BadRequest">
                <xs:sequence>
                    <xs:element name="message" type="xs:string" />
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
    </types>
    <message name="updateVehicle">
        <part name="parameters" element="tns:updateVehicle" />
    </message>
    <message name="updateVehicleResponse">
        <part name="parameters" element="tns:updateVehicleResponse" />
    </message>
    <message name="registerVehicle">
        <part name="parameters" element="tns:registerVehicle" />
    </message>
    <message name="registerVehicleResponse">
        <part name="parameters" element="tns:registerVehicleResponse" />
    </message>
    <message name="BadRequest">
        <part name="fault" element="tns:BadRequest" />
    </message>
    <portType name="MoT">
        <operation name="updateVehicle">
            <input message="tns:updateVehicle" />
            <output message="tns:updateVehicleResponse" />
            <fault message="tns:BadRequest" name="BadRequest" />
        </operation>
        <operation name="registerVehicle">
            <input message="tns:registerVehicle" />
            <output message="tns:registerVehicleResponse" />
            <fault message="tns:BadRequest" name="BadRequest" />
        </operation>
    </portType>
    <binding name="MoTPortBinding" type="tns:MoT">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
        <operation name="updateVehicle">
            <soap:operation soapAction="http://example.org/updateVehicle" />
            <input>
                <soap:body use="literal" />
            </input>
            <output>
                <soap:body use="literal" />
            </output>
            <fault name="BadRequest">
                <soap:fault name="BadRequest" use="literal" />
            </fault>
        </operation>
        <operation name="registerVehicle">
            <soap:operation soapAction="http://example.org/registerVehicle" />
            <input>
                <soap:body use="literal" />
            </input>
            <output>
                <soap:body use="literal" />
            </output>
            <fault name="BadRequest">
                <soap:fault name="BadRequest" use="literal" />
            </fault>
        </operation>
    </binding>
    <service name="MinistryOfTransportationService">
        <port name="MoTPort" binding="tns:MoTPortBinding">
            <soap:address location="http://127.0.0.1:8000/registration" />
        </port>
    </service>
</definitions>